<div class="intromain-view">
	
	<div class="login-container">
		
		<div class="logo-container">
			<span id="logo">HOME Dashboard</span>
		</div>
		
		<div class="input-container">
			<div class="input">
				<span class="input-title">아이디</span>
				<input type="text" class="custom-input" ng-model="loginData.id" placeholder="이메일 또는 휴대폰 번호">
			</div>
			<div class="input">
				<span class="input-title">비밀번호</span>
				<input type="password" class="custom-input" ng-model="loginData.password" placeholder="비밀번호를 입력해주세요">
			</div>
		</div>
	
		<div class="button-container">
			<span class="button" ng-click="login()">로그인</span>
		</div>

	</div>

</div>
