
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// 스타일 초기화
html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    ul {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    /*
    .container, .copyright {
        width: 1920px;
        margin: 0 auto;
    }*/
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'directives/jarvis/jarvis.scss';
@import 'directives/music_editor/music_editor.scss';
@import 'directives/music_visualizer/music_visualizer.scss';
@import 'directives/panel/panel.scss';
@import 'views/introMain/introMain.scss';
@import 'views/main/main.scss';
// endinjector