$bg1: #0D0606;
$bg2: #3b4166;

#main-view {
	width: 100%;
	height: 100%;
	position: relative;
	/*background-image: url('../../assets/images/background-image.jpg');
	background-size: cover;
	*/	

	#loading-window {
		width: 100%;
		height: 100%;
		z-index: 10;
		position: relative;

		.loading-guide {
			width: 30%;
			height: 10%;
			position: absolute;
			top: 45%;
			left: 35%;
			text-align: center;
			font-size: 20px;
		}
	}

	canvas {
		width: 100%;
		height: 100%;
	}

	#jarvis-container {
		width: 90%;
		height: 45%;
		position: absolute;
		left: 5%;
		top: 3%;
		z-index: 3;
	}

	#panel-container {
		width: 70%;
		height: 40%;
		position: absolute;
		left: 15%;
		top: 6%;
		z-index: 3;
	}

	#usage-container {
		position: absolute;
		bottom: 10%;
		right: 5%;
		width: 20%;
		height: 20%;
		border-radius: 8px;
		z-index: 3;
	}
}