<div class="main-view">

	<div id="panel"></div>
	<!--
	<div id="rooms-container">
		<div id="canvas"></div>
	</div>
	-->
	<!--
	<div class="homemap-container">
		<div class="header">
			<span id="header-title">HOME Dashboard</span>
			<span class="edit-button" ng-click="isEdit = !isEdit"></span>
		</div>
		<div id="canvas"></div>
	</div>
	
	<div class="painting-container" ng-show="isEdit">
		<div class="selection-header">
			<span class="elem header" ng-repeat="elem in editHeaderList" ng-click="changeTab('first', $index)">{{elem.name}}</span>
		</div>

		<div class="selection-body">
			<div class="appliance-container">
				<span class="elem body" ng-repeat="elem in editHeaderList[selection.first].list" ng-click="changeTab('second', $index)">{{elem.name}}</span>
			</div>
		</div>
	</div>
	-->
	<div id="usage-container" ng-show="!isEdit">
		<music-visualizer music-name="testMusic"></music-visualizer>
	</div>

</div>	
