$bg1: #0D0606;
$bg2: #3b4166;

#main-view {
	width: 100%;
	height: 100%;
	position: relative;
	/*background-image: url('../../assets/images/background-image.jpg');
	background-size: cover;
*/	
	#glcanvas {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	#jarvis-container {
		width: 90%;
		height: 45%;
		position: absolute;
		left: 5%;
		top: 3%;
		z-index: 3;
	}

	#panel-container {
		width: 70%;
		height: 40%;
		position: absolute;
		left: 2%;
		bottom: 6%;
		z-index: 3;
	}

	#usage-container {
		position: absolute;
		bottom: 10%;
		right: 5%;
		width: 20%;
		height: 20%;
		border-radius: 8px;
		z-index: 3;
	}
}
/*:before {
	content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  z-index: 1;
  filter: blur(6px); 
  -webkit-filter: blur(6px); 
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  filter:url(#blur);
}*/