$bg1: #0D0606;
$bg2: #3b4166;

.main-view {
	width: 100%;
	height: 1080px;
	position: relative;
	background-image: url('../../assets/images/dashboard_background.jpg');
	background-size: cover;

	#panel {
		width: 70%;
		height: 40%;
		position: absolute;
		left: 2%;
		bottom: 6%;
	}
	/*
	background: -webkit-linear-gradient($bg1, $bg2);
  	background: -o-linear-gradient($bg1, $bg2);
  	background: -moz-linear-gradient($bg1, $bg2);
  	background: linear-gradient($bg1, $bg2);
	position: relative;

	#rooms-container {
		width: 60%;
		height: 100%;
		
		#canvas {
			width: 100%;
			height: 100%;
		}
	}*/

	/*
	.homemap-container {
		position: relative;
		width: 70%;
		height: 100%;

		.header {
			padding-top: 12px;
			padding-bottom: 12px;
			padding-right: 48px;

			#header-title {
				color: #000;
				font-size: 32px;
				color: #93E7CD;
				padding-left: 20px;
			}

			.edit-button {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-color: #dddddd;
				border-radius: 50%;
				float: right;
			}
		}*/

		/*
		.footer {
			position: absolute;
			width: calc(100% - 48px);
			left: 0;
			bottom: 0;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-right: 48px;

			#delete-button {
				direction: inline-block;
				height: 20px;
				color: #FFFFFF;
				float: right;
			}
		}
		*/
		/*
		#canvas {
			width: 80%;
			height: 80%;
			position: relative;
			left: 5%;
			top: 5%;
			border: 2px solid #93E7CD;
			border-radius: 8px;
			overflow: hidden;
		}
		.room {
			position: absolute;
		}
	}

	.painting-container {
		width: 30%;
		height: 100%;
		border: 1px solid #000000;
		right: 0;
		top: 0;
		position: absolute;

		.elem {
			display: inline-block;
			width: 33.3%;
			min-height: 60px;
			line-height: 60px;
			text-align: center;
			color: #000000;
			&.header {

			}
			&.body {
				
			}
		}

		.selection-header {
			height: 60px;
			background-color: #878787;
			border-bottom: 1px solid #000000;

		}
		.selection-body {

		}
	}
	*/

	#usage-container {
		position: absolute;
		bottom: 10%;
		right: 5%;
		width: 20%;
		height: 20%;
		border-radius: 8px;
	}
}